In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def load_and_prepare_data(filename, coin_name):
    
    df = pd.read_csv(filename)

    df.rename(columns={"time_period_end": "time"}, inplace=True)

    df["time"] = pd.to_datetime(df["time"])

    df.sort_values("time", inplace=True)

    df[coin_name + "_return"] = df["price_close"].pct_change()
    
    return df[["time", coin_name + "_return"]]

In [5]:
avax_df  = load_and_prepare_data("data/hourly_crypto_data/avax_hourly.csv",  "avax")
btc_df   = load_and_prepare_data("data/hourly_crypto_data/btc_hourly.csv",   "btc")
eth_df   = load_and_prepare_data("data/hourly_crypto_data/eth_hourly.csv",   "eth")
matic_df = load_and_prepare_data("data/hourly_crypto_data/matic_hourly.csv", "matic")
sol_df   = load_and_prepare_data("data/hourly_crypto_data/sol_hourly.csv",   "sol")

In [6]:
avax_df.head()

                       time  avax_return
0 2020-09-22 07:00:00+00:00          NaN
1 2020-09-22 08:00:00+00:00     0.005839
2 2020-09-22 09:00:00+00:00     0.389502
3 2020-09-22 10:00:00+00:00    -0.089579
4 2020-09-22 11:00:00+00:00    -0.116040

In [7]:
btc_df.head()

                       time  btc_return
0 2019-02-25 01:00:00+00:00         NaN
1 2019-02-25 02:00:00+00:00    0.001618
2 2019-02-25 03:00:00+00:00    0.004874
3 2019-02-25 04:00:00+00:00   -0.000384
4 2019-02-25 05:00:00+00:00    0.002422

In [8]:
eth_df.head()

                       time  eth_return
0 2019-02-25 01:00:00+00:00         NaN
1 2019-02-25 02:00:00+00:00    0.007097
2 2019-02-25 03:00:00+00:00    0.015196
3 2019-02-25 04:00:00+00:00    0.003616
4 2019-02-25 05:00:00+00:00    0.007349

In [9]:
matic_df.head()

                       time  matic_return
0 2019-04-26 16:00:00+00:00           NaN
1 2019-04-26 17:00:00+00:00     -0.080952
2 2019-04-26 18:00:00+00:00     -0.082902
3 2019-04-26 19:00:00+00:00     -0.058380
4 2019-04-26 20:00:00+00:00     -0.010000

In [10]:
sol_df.head()

                       time  sol_return
0 2020-08-11 07:00:00+00:00         NaN
1 2020-08-11 08:00:00+00:00   -0.009859
2 2020-08-11 09:00:00+00:00    0.012866
3 2020-08-11 10:00:00+00:00   -0.035709
4 2020-08-11 11:00:00+00:00    0.015170